﻿
@page "/"
@inject ISiberianService SiberianService
@inject NavigationManager NavigationManager

<h1>Lista de Ciudades</h1>
<a class="btn btn-primary" href="/createEditCiudad/0">Crear Ciudad</a>
@if (ciudades == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nombre de la Ciudad</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ciudad in ciudades)
            {
                <tr>
                    <td>@ciudad.NombreCiudad</td>
                    <td>
                        <a class="btn btn-dark" href="/createEditCiudad/@ciudad.Id">Editar</a>
                    </td>
                    <td>
                        <a class="btn btn-danger text-white" @onclick="@(() => DeleteCiudad(ciudad.Id))" disabled="@isSubmitting">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    bool isSubmitting;
    IEnumerable<CiudadData> ciudades = new List<CiudadData>();
    protected override async Task OnInitializedAsync()
    {
        ciudades = await SiberianService.GetAllCiudades();
    }

    async Task DeleteCiudad(int id)
    {
        isSubmitting = true;

        try
        {
            var newCiudad = await SiberianService.DeleteCiudad(id);
            ciudades = await SiberianService.GetAllCiudades();
        }
        catch (Exception ex)
        {
            NavigationManager.NavigateTo($"/",true);
        }
    }
}
