﻿@page "/createEditRest/{id:int}"
@inject ISiberianService SiberianService
@inject NavigationManager NavigationManager
@attribute [Authorize]
@if (id > 0)
{
    <h1>Editar Restaurante</h1>
    if (restaurante == null)
    {
        <p>Loading...</p>
    }
    else
    {
        <EditForm Model="@restaurante" OnValidSubmit="EditRestaurante">
            <div class="form-field">
                <label>
                    Ciudad
                </label>
                <div>
                    <select class="form-control selectpicker" @bind="restaurante.IdCiudad">
                        @foreach (var item in ciudades)
                        {
                            if (item.Id == restaurante.IdCiudad)
                            {
                                <option value="@item.Id" selected>@item.NombreCiudad</option>
                            }
                            else
                            {
                                <option value="@item.Id">@item.NombreCiudad</option>
                            }
                        }
                    </select>
                    <ValidationMessage For="@(() => restaurante.IdCiudad)" />
                </div>
            </div>
            <div class="form-field">
                <label>Nombre del restaurante:</label>
                <div>
                    <InputText @bind-Value="restaurante.NombreRestaurante" />
                    <ValidationMessage For="@(() => restaurante.NombreRestaurante)" />
                </div>
            </div>
            <div class="form-field">
                <label>Número Aforo:</label>
                <div>
                    <InputNumber @bind-Value="restaurante.NumeroAforo" />
                    <ValidationMessage For="@(() => restaurante.NumeroAforo)" />
                </div>
            </div>
            <div class="form-field">
                <label>Número Aforo:</label>
                <div>
                    <InputText @bind-Value="restaurante.Telefono" />
                    <ValidationMessage For="@(() => restaurante.Telefono)" />
                </div>
            </div>
            <button type="submit" class="checkout-button btn btn-primary" disabled="@isSubmitting">
                Guardar
            </button>
            <DataAnnotationsValidator />
        </EditForm>


    }
}
else
{
    if (restaurante != null)
    {
        <EditForm Model="@restaurante" OnValidSubmit="CreateRestaurante">
            <div class="form-field px-4">
                <label>
                    Ciudad
                </label>
                <div>
                    <select class="form-control selectpicker" required @bind="restaurante.IdCiudad">
                        @foreach (var item in ciudades)
                        {
                            <option value="@item.Id">@item.NombreCiudad</option>
                        }
                    </select>
                    <ValidationMessage For="@(() => restaurante.IdCiudad)" />
                </div>
            </div>
            <div class="form-field px-4">
                <label>Nombre del restaurante:</label>
                <div>
                    <InputText @bind-Value="restaurante.NombreRestaurante" />
                    <ValidationMessage For="@(() => restaurante.NombreRestaurante)" />
                </div>
            </div>
            <div class="form-field px-4">
                <label>Número Aforo:</label>
                <div>
                    <InputNumber @bind-Value="restaurante.NumeroAforo" />
                    <ValidationMessage For="@(() => restaurante.NumeroAforo)" />
                </div>
            </div>
            <div class="form-field px-4">
                <label>Teléfono:</label>
                <div>
                    <InputText @bind-Value="restaurante.Telefono" />
                    <ValidationMessage For="@(() => restaurante.Telefono)" />
                </div>
            </div>
            <button type="submit" class="checkout-button btn btn-primary" disabled="@isSubmitting">
                Crear
            </button>
            <DataAnnotationsValidator />
        </EditForm>
    }

}


@code {
    bool isSubmitting;

    [Parameter]
    public int id { get; set; }
    RestauranteData restaurante;
    IEnumerable<CiudadData> ciudades = new List<CiudadData>();

    protected override async Task OnInitializedAsync()
    {
        ciudades = await SiberianService.GetAllCiudades();
        if (id > 0)
        {
            restaurante = await SiberianService.GetRestaurante(id);
            restaurante.IdCiudad = ciudades.Where(x => x.NombreCiudad == restaurante.NombreCiudad).First().Id;
        }
        else
        {
            restaurante = new RestauranteData();
        }
    }

    async Task EditRestaurante()
    {
        isSubmitting = true;

        try
        {
            var newRestaurante = await SiberianService.PutRestaurante(id, restaurante.IdCiudad, restaurante.NombreRestaurante, restaurante.NumeroAforo, restaurante.Telefono);
            NavigationManager.NavigateTo($"/restaurantes");
        }
        catch (Exception ex)
        {
            NavigationManager.NavigateTo($"/restaurantes");
        }
    }

    async Task CreateRestaurante()
    {
        isSubmitting = true;

        try
        {
            var newRestaurante = await SiberianService.PostRestaurante(restaurante.IdCiudad, restaurante.NombreRestaurante, restaurante.NumeroAforo, restaurante.Telefono);
            NavigationManager.NavigateTo($"/restaurantes");
        }
        catch (Exception ex)
        {
            NavigationManager.NavigateTo($"/restaurantes");
        }
    }
}
