﻿@page "/createEditCiudad/{id:int}"
@inject ISiberianService SiberianService
@inject NavigationManager NavigationManager
@attribute [Authorize]
@if (id > 0)
{
    <h1>Editar Ciudad</h1>
    if (ciudad == null)
    {
        <p>Loading...</p>
    }
    else
    {
        <EditForm Model="@ciudad" OnValidSubmit="EditCiudad">
            <div class="form-field">
                <label>Nombre de la ciudad:</label>
                <div>
                    <InputText @bind-Value="ciudad.NombreCiudad" />
                    <ValidationMessage For="@(() => ciudad.NombreCiudad)" />
                </div>
            </div>
            <button type="submit" class="checkout-button btn btn-primary" disabled="@isSubmitting">
                Guardar
            </button>
            <DataAnnotationsValidator />
        </EditForm>


    }
}
else
{
    <h1>Crear Ciudad</h1>
    <EditForm Model="@ciudad" OnValidSubmit="CreateCiudad">
        <div class="form-field">
            <label>Nombre de la ciudad:</label>
            <div>
                <InputText @bind-Value="ciudad.NombreCiudad" />
                <ValidationMessage For="@(() => ciudad.NombreCiudad)" />
            </div>
        </div>
        <button type="submit" class="checkout-button btn btn-primary" disabled="@isSubmitting">
            Crear
        </button>
        <DataAnnotationsValidator />
    </EditForm>
}


@code {
    bool isSubmitting;

    [Parameter]
    public int id { get; set; }
    CiudadData ciudad;

    protected override async Task OnInitializedAsync()
    {
        if (id > 0)
            ciudad = await SiberianService.EditCiudad(id);
            else
            {
                ciudad = new CiudadData();
            }
    }

    async Task EditCiudad()
    {
        isSubmitting = true;

        try
        {
            var newCiudad = await SiberianService.PutCiudad(id,ciudad.NombreCiudad);
            NavigationManager.NavigateTo($"/");
        }
        catch (Exception ex)
        {
            NavigationManager.NavigateTo($"/");
        }
    }

    async Task CreateCiudad()
    {
        isSubmitting = true;

        try
        {
            var newCiudad = await SiberianService.PostCiudad(ciudad.NombreCiudad);
            NavigationManager.NavigateTo($"/");
        }
        catch (Exception ex)
        {
            NavigationManager.NavigateTo($"/");
        }
    }
}
