@page "/fetchdata"
@inject IJSRuntime JSRuntime

<h1>Javascript array</h1>

<p>This component demonstrates fetching data from javascript</p>

<table class="table" >
    <tbody id="cuerpoTabla">

    </tbody>
</table>


@code {
    //private WeatherForecast[] forecasts;

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("doSomething.showOnView","cuerpoTabla");
        //forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");
    }

    //public class WeatherForecast
    //{
    //    public DateTime Date { get; set; }

    //    public int TemperatureC { get; set; }

    //    public string Summary { get; set; }

    //    public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    //}
}
