﻿@page "/restaurantes";
@inject ISiberianService SiberianService
@inject NavigationManager NavigationManager
<h1>Lista de Restaurantes</h1>
<a class="btn btn-primary" href="/createEditRest/0">Crear Restaurante</a>
@if (restaurantes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nombre del Restaurante</th>
                <th>Nombre de la Ciudad</th>
                <th>Número de Aforo</th>
                <th>Teléfono</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var restaurante in restaurantes)
            {
                <tr>

                    <td>@restaurante.NombreRestaurante</td>
                    <td>@restaurante.NombreCiudad</td>
                    <td>@restaurante.NumeroAforo</td>
                    <td>@restaurante.Telefono</td>
                    <td>
                        <a class="btn btn-dark" href="/createEditRest/@restaurante.Id">Editar</a>
                    </td>
                    <td>
                        <a class="btn btn-danger text-white" @onclick="@(() => DeleteRestaurante(restaurante.Id))" disabled="@isSubmitting">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    bool isSubmitting;
    IEnumerable<RestauranteData> restaurantes = new List<RestauranteData>();
    protected override async Task OnInitializedAsync()
    {
        restaurantes = await SiberianService.GetAllRestaurantes();
    }

    async Task DeleteRestaurante(int id)
    {
        isSubmitting = true;

        try
        {
            var newRestaurante = await SiberianService.DeleteCiudad(id);
            restaurantes = await SiberianService.GetAllRestaurantes();
        }
        catch (Exception ex)
        {
            NavigationManager.NavigateTo($"/restaurantes", true);
        }
    }
}
