﻿@inject NavigationManager NavigationManager
@inject ISiberianService SiberianService

<AuthorizeView>
    <Authorized>
        <div class="top-row px-4">
            <p class="px-4">@context.User.Identity.Name</p>
            <button class="btn btn-dark" @onclick="BeginSignOut">Sign out</button>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="top-row px-4">
            <a class="btn btn-light" @onclick="BeginSignIn">Log in</a>
        </div>
    </NotAuthorized>
</AuthorizeView>
@code {
    async Task BeginSignOut()
    {
        await SiberianService.RemoveToken();
        NavigationManager.NavigateTo("/");
    }

    async Task BeginSignIn()
    {
        await SiberianService.CreateToken();
    }
}
